<div style=" background-color: RGB(0,114,200);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 4 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Réalisez une étude de santé publique avec R ou Python
</h2>
</div>

# OBJECTIF DE CE NOTEBOOK

Bienvenue dans l'outil plébiscité par les analystes de données Jupyter.

Il s'agit d'un outil permettant de mixer et d'alterner codes, textes et graphique.

Cet outil est formidable pour plusieurs raisons:

+ il permet de tester des lignes de codes au fur et à mesure de votre rédaction, de constater immédiatement le résultat d'un instruction, de la corriger si nécessaire.
+ De rédiger du texte pour expliquer l'approche suivie ou les résultats d'une analyse et de le mettre en forme grâce à du code html ou plus simple avec **Markdown**
+ d'agrémenter de graphiques

Pour vous aider dans vos premiers pas à l'usage de Jupyter et de Python, nous avons rédigé ce notebook en vous indiquant les instructions à suivre.

Il vous suffit pour cela de saisir le code Python répondant à l'instruction donnée.

Vous verrez de temps à autre le code Python répondant à une instruction donnée mais cela est fait pour vous aider à comprendre la nature du travail qui vous est demandée.

Et garder à l'esprit, qu'il n'y a pas de solution unique pour résoudre un problème et qu'il y a autant de résolutions de problèmes que de développeurs ;)...

Note jeremy 
Est ce qu'il faut faire le calcul de la sous nutrition sur les pays qu'on a ? 
Est ce qu'il faut faire des graphiques ?
Rajouter le soja
La liste des céréales est difficile a trouver ...

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.1 - Importation des librairies</h3>
</div>

In [82]:
#Importation de la librairie Pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.2 - Chargement des fichiers Excel</h3>
</div>

In [83]:
#Importation du fichier population.csv
population = pd.read_csv('C:/Users/julie/Downloads/OC Formation/P4/DAN-P4-FAO/population.csv')

#Importation du fichier dispo_alimentaire.csv
dispo_alimentaire = pd.read_csv('C:/Users/julie/Downloads/OC Formation/P4/DAN-P4-FAO/dispo_alimentaire.csv')

#Importation du fichier aide_alimentaire.csv
aide_alimentaire = pd.read_csv('C:/Users/julie/Downloads/OC Formation/P4/DAN-P4-FAO/aide_alimentaire.csv')

#Importation du fichier sous_nutrition.csv
sous_nutrition = pd.read_csv('C:/Users/julie/Downloads/OC Formation/P4/DAN-P4-FAO/sous_nutrition.csv')

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.1 - Analyse exploratoire du fichier population</h3>
</div>

In [84]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} valeurs".format(population.shape[0]))
print("Le tableau comporte {} colonne(s)".format(population.shape[1]))

Le tableau comporte 1416 valeurs
Le tableau comporte 3 colonne(s)

In [85]:
#Consulter le nombre de colonnes
print("Le tableau comporte {} colonne(s)".format(population.shape[1]))
#La nature des données dans chacune des colonnes
#Le nombre de valeurs présentes dans chacune des colonnes
resultat = pd.DataFrame({
    "Type de données": population.dtypes,
    "Nombre de valeurs": population.count()})
print(resultat)

Le tableau comporte 3 colonne(s)
       Type de données  Nombre de valeurs
Zone            object               1416
Année            int64               1416
Valeur         float64               1416

In [86]:
#Affichage les 5 premières lignes de la table
print(population.head())

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [87]:
#Nous allons harmoniser les unités. Pour cela, nous avons décidé de multiplier la population par 1000
#Multiplication de la colonne valeur par 1000
population['Valeur'] = population['Valeur'] * 1000
print(population.head())

          Zone  Année      Valeur
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

In [88]:
#changement du nom de la colonne Valeur par Population
population.rename(columns={'Valeur': 'Population'}, inplace=True)

In [89]:
#Affichage les 5 premières lignes de la table pour voir les modifications
print(population.head())

          Zone  Année  Population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.2 - Analyse exploratoire du fichier disponibilité alimentaire</h3>
</div>

In [90]:
#Afficher les dimensions du dataset
dimensions = dispo_alimentaire.shape
print(dimensions)

(15605, 18)

In [91]:
#Consulter le nombre de colonnes
print("Le tableau comporte {} colonne(s)".format(population.shape[1]))

Le tableau comporte 3 colonne(s)

In [92]:
#Affichage les 5 premières lignes de la table
print(dispo_alimentaire.head())

          Zone                Produit   Origine  Aliments pour animaux  \
0  Afghanistan       Abats Comestible   animale                    NaN
1  Afghanistan        Agrumes, Autres  vegetale                    NaN
2  Afghanistan  Aliments pour enfants  vegetale                    NaN
3  Afghanistan                 Ananas  vegetale                    NaN
4  Afghanistan                Bananes  vegetale                    NaN

   Autres Utilisations  Disponibilité alimentaire (Kcal/personne/jour)  \
0                  NaN                                             5.0
1                  NaN                                             1.0
2                  NaN                                             1.0
3                  NaN                                             0.0
4                  NaN                                             4.0

   Disponibilité alimentaire en quantité (kg/personne/an)  \
0                                               1.72
1                                               1.29
2                                               0.06
3                                               0.00
4                                               2.70

   Disponibilité de matière grasse en quantité (g/personne/jour)  \
0                                               0.20
1                                               0.01
2                                               0.01
3                                                NaN
4                                               0.02

   Disponibilité de protéines en quantité (g/personne/jour)  \
0                                               0.77
1                                               0.02
2                                               0.03
3                                                NaN
4                                               0.05

   Disponibilité intérieure  Exportations - Quantité  Importations - Quantité  \
0                      53.0                      NaN                      NaN
1                      41.0                      2.0                     40.0
2                       2.0                      NaN                      2.0
3                       0.0                      NaN                      0.0
4                      82.0                      NaN                     82.0

   Nourriture  Pertes  Production  Semences  Traitement  Variation de stock
0        53.0     NaN        53.0       NaN         NaN                 NaN
1        39.0     2.0         3.0       NaN         NaN                 NaN
2         2.0     NaN         NaN       NaN         NaN                 NaN
3         0.0     NaN         NaN       NaN         NaN                 NaN
4        82.0     NaN         NaN       NaN         NaN                 NaN

In [93]:
#multiplication de toutes les lignes contenant des milliers de tonnes en Kg
colonnes_a_convertir = [ 'Aliments pour animaux', 'Autres Utilisations',
    'Disponibilité intérieure', 'Exportations - Quantité', 'Importations - Quantité',
    'Nourriture', 'Pertes', 'Production', 'Semences', 'Traitement', 'Variation de stock']
dispo_alimentaire[colonnes_a_convertir] = dispo_alimentaire[colonnes_a_convertir] * 1000

In [94]:
#remplacement des NaN dans le dataset par des 0
dispo_alimentaire.fillna(0, inplace=True)

In [95]:
#Affichage les 5 premières lignes de la table
print(dispo_alimentaire.head())

          Zone                Produit   Origine  Aliments pour animaux  \
0  Afghanistan       Abats Comestible   animale                    0.0
1  Afghanistan        Agrumes, Autres  vegetale                    0.0
2  Afghanistan  Aliments pour enfants  vegetale                    0.0
3  Afghanistan                 Ananas  vegetale                    0.0
4  Afghanistan                Bananes  vegetale                    0.0

   Autres Utilisations  Disponibilité alimentaire (Kcal/personne/jour)  \
0                  0.0                                             5.0
1                  0.0                                             1.0
2                  0.0                                             1.0
3                  0.0                                             0.0
4                  0.0                                             4.0

   Disponibilité alimentaire en quantité (kg/personne/an)  \
0                                               1.72
1                                               1.29
2                                               0.06
3                                               0.00
4                                               2.70

   Disponibilité de matière grasse en quantité (g/personne/jour)  \
0                                               0.20
1                                               0.01
2                                               0.01
3                                               0.00
4                                               0.02

   Disponibilité de protéines en quantité (g/personne/jour)  \
0                                               0.77
1                                               0.02
2                                               0.03
3                                               0.00
4                                               0.05

   Disponibilité intérieure  Exportations - Quantité  Importations - Quantité  \
0                   53000.0                      0.0                      0.0
1                   41000.0                   2000.0                  40000.0
2                    2000.0                      0.0                   2000.0
3                       0.0                      0.0                      0.0
4                   82000.0                      0.0                  82000.0

   Nourriture  Pertes  Production  Semences  Traitement  Variation de stock
0     53000.0     0.0     53000.0       0.0         0.0                 0.0
1     39000.0  2000.0      3000.0       0.0         0.0                 0.0
2      2000.0     0.0         0.0       0.0         0.0                 0.0
3         0.0     0.0         0.0       0.0         0.0                 0.0
4     82000.0     0.0         0.0       0.0         0.0                 0.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Analyse exploratoire du fichier aide alimentaire</h3>
</div>

In [96]:
#Afficher les dimensions du dataset
dimensions = aide_alimentaire.shape
print(dimensions)

(1475, 4)

In [97]:
#Consulter le nombre de colonnes
nombre_de_colonnes = sous_nutrition.shape[1]

print(f"Nombre de colonnes dans le tableau sous_nutrition : {nombre_de_colonnes}")

Nombre de colonnes dans le tableau sous_nutrition : 3

In [98]:
#Affichage les 5 premières lignes de la table
print(aide_alimentaire.head())

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [99]:
#changement du nom de la colonne Pays bénéficiaire par Zone
aide_alimentaire.rename(columns={'Pays bénéficiaire' : 'Zone'}, inplace=True)

In [100]:
#Multiplication de la colonne Aide_alimentaire qui contient des tonnes par 1000 pour avoir des kg
aide_alimentaire['Valeur'] = aide_alimentaire['Valeur'] * 10**3
aide_alimentaire.rename(columns={'Valeur' : 'Valeur en kg'}, inplace=True)

In [101]:
#Affichage les 5 premières lignes de la table
print(aide_alimentaire.head())

          Zone  Année              Produit  Valeur en kg
0  Afghanistan   2013  Autres non-céréales        682000
1  Afghanistan   2014  Autres non-céréales        335000
2  Afghanistan   2013         Blé et Farin      39224000
3  Afghanistan   2014         Blé et Farin      15160000
4  Afghanistan   2013             Céréales      40504000

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Analyse exploratoire du fichier sous nutrition</h3>
</div>

In [102]:
#Afficher les dimensions du dataset
dimensions = sous_nutrition.shape
print(dimensions)

(1218, 3)

In [103]:
#Consulter le nombre de colonnes
print(sous_nutrition.columns)

Index(['Zone', 'Année', 'Valeur'], dtype='object')

In [104]:
#Afficher les 5 premières lignes de la table
print(sous_nutrition.head())

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [105]:
#Conversion de la colonne sous nutrition en numérique
sous_nutrition['Valeur'] = pd.to_numeric(sous_nutrition['Valeur'], errors='coerce')

In [106]:
#Conversion de la colonne (avec l'argument errors=coerce qui permet de convertir automatiquement les lignes qui ne sont pas des nombres en NaN)
#Puis remplacement des NaN en 0
sous_nutrition['Valeur'] = sous_nutrition['Valeur'].fillna(0)

In [107]:
#changement du nom de la colonne Valeur par sous_nutrition
sous_nutrition.rename(columns={'Valeur' : 'sous_nutrition'}, inplace=True)

In [108]:
#Multiplication de la colonne sous_nutrition par 1000000
sous_nutrition['sous_nutrition'] = sous_nutrition['sous_nutrition'] * 1000000

In [109]:
#Afficher les 5 premières lignes de la table
print(sous_nutrition.head())

          Zone      Année  sous_nutrition
0  Afghanistan  2012-2014       8600000.0
1  Afghanistan  2013-2015       8800000.0
2  Afghanistan  2014-2016       8900000.0
3  Afghanistan  2015-2017       9700000.0
4  Afghanistan  2016-2018      10500000.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.1 - Proportion de personnes en sous nutrition</h3>
</div>

In [110]:
# Il faut tout d'abord faire une jointure entre la table population et la table sous nutrition, en ciblant l'année 2017
population['Année'] = population['Année'].astype(str)
sous_nutrition['Année'] = sous_nutrition['Année'].apply(lambda x: '2017' if isinstance(x, str) and '2016-2018' in x else None)
sous_nutrition = sous_nutrition.dropna(subset=['Année'])
sous_nutrition = sous_nutrition.sort_values(by=['Zone', 'Année'], ascending=[True, False]).drop_duplicates(subset='Zone', keep='first')

population_2017 = pd.merge(population, sous_nutrition, on=['Zone', 'Année'], how='inner', suffixes=('_population', '_sous_nutrition'))

In [154]:
#Affichage du dataset

population_2017

,Zone,Année,Population,sous_nutrition,Proportion de personnes en sous nutrition en %
0,Afghanistan,2017,36296113.0,10500000.0,22.437761
1,Afrique du Sud,2017,57009756.0,3100000.0,5.157233
2,Albanie,2017,2884169.0,100000.0,3.351017
3,Algérie,2017,41389189.0,1300000.0,3.045268
4,Allemagne,2017,82658409.0,0.0,0.000000
...,...,...,...,...,...
198,Venezuela (République bolivarienne du),2017,29402484.0,8000000.0,21.388954
199,Viet Nam,2017,94600648.0,6500000.0,6.429237
200,Yémen,2017,27834819.0,0.0,0.000000
201,Zambie,2017,16853599.0,0.0,0.000000
202,Zimbabwe,2017,14236595.0,0.0,0.000000

In [112]:
#Calcul et affichage du nombre de personnes en état de sous nutrition
nombre_sous_nutrition = population_2017['sous_nutrition'].sum()
proportion_sous_nutrition = nombre_sous_nutrition / population_2017['Population'].sum() * 100
# Affichage du résultat
print(f'Nombre total de personnes en état de sous-nutrition en 2017 : {nombre_sous_nutrition:.0f}')
print(f'Pourcentage de personnes en sous nutrition : {proportion_sous_nutrition:.0f} %')

Nombre total de personnes en état de sous-nutrition en 2017 : 535700000
Pourcentage de personnes en sous nutrition : 7 %

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.2 - Nombre théorique de personne qui pourrait être nourries</h3>
</div>

In [113]:
#Combien mange en moyenne un être humain ? Source => Vidal.fr
nombre_kcal = 2200
print(f"Un être humain mange en moyenne {nombre_kcal} kcalories par jour")

Un être humain mange en moyenne 2200 kcalories par jour

In [114]:
#On commence par faire une jointure entre le data frame population et Dispo_alimentaire afin d'ajouter dans ce dernier la population
df = dispo_alimentaire.groupby("Zone")["Disponibilité alimentaire (Kcal/personne/jour)"].sum()
dispo_alimentaire_population = pd.merge(right = df, left = population_2017, how = "inner", on="Zone")

In [155]:
#Affichage du nouveau dataframe
dispo_alimentaire_population

,Zone,Année,Population,sous_nutrition,Disponibilité alimentaire (Kcal/personne/jour),dispo_kcal
0,Afghanistan,2017,36296113.0,10500000.0,2087.0,7.574999e+10
1,Afrique du Sud,2017,57009756.0,3100000.0,3020.0,1.721695e+11
2,Albanie,2017,2884169.0,100000.0,3188.0,9.194731e+09
3,Algérie,2017,41389189.0,1300000.0,3293.0,1.362946e+11
4,Allemagne,2017,82658409.0,0.0,3503.0,2.895524e+11
...,...,...,...,...,...,...
167,Venezuela (République bolivarienne du),2017,29402484.0,8000000.0,2633.0,7.741674e+10
168,Viet Nam,2017,94600648.0,6500000.0,2744.0,2.595842e+11
169,Yémen,2017,27834819.0,0.0,2217.0,6.170979e+10
170,Zambie,2017,16853599.0,0.0,1924.0,3.242632e+10
171,Zimbabwe,2017,14236595.0,0.0,2113.0,3.008193e+10

In [116]:
#Création de la colonne dispo_kcal avec calcul des kcal disponibles mondialement
dispo_alimentaire_population['dispo_kcal'] = (dispo_alimentaire_population['Disponibilité alimentaire (Kcal/personne/jour)']) * dispo_alimentaire_population['Population']

dispo_kcal_mondiale = dispo_alimentaire_population['dispo_kcal'].sum()

print(f"La disponibilité mondiale en calories est de {dispo_kcal_mondiale} par jour")

La disponibilité mondiale en calories est de 20918984627331.0 par jour

In [117]:
#Calcul du nombre d'humains pouvant être nourris
besoin_cal_annuel_par_personne = nombre_kcal 
nombre_humains_nourris = dispo_kcal_mondiale / besoin_cal_annuel_par_personne
population_mondiale = 8200000000
pourcentage_humains_nourris = nombre_humains_nourris / population_mondiale * 100
print(f"Le nombre d'humains pouvant être nourris avec la disponibilité mondiale en calories est de {nombre_humains_nourris} par jour")
print(f"La disponibilité mondiale peut couvrir {pourcentage_humains_nourris}% des besoins humains dans le monde")

Le nombre d'humains pouvant être nourris avec la disponibilité mondiale en calories est de 9508629376.059546 par jour
La disponibilité mondiale peut couvrir 115.95889482999446% des besoins humains dans le monde

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.3 - Nombre théorique de personne qui pourrait être nourrie avec les produits végétaux</h3>
</div>

In [118]:
#Transfert des données avec les végétaux dans un nouveau dataframe
dispo_alimentaire_vegetale = dispo_alimentaire[dispo_alimentaire['Origine'] == 'vegetale']

# Effectuer la jointure entre le DataFrame filtré et population
resultat_vegetale = pd.merge(population_2017, dispo_alimentaire_vegetale, how='inner', on=['Zone'])

# Afficher les premières lignes du nouveau DataFrame pour vérifier
print(resultat_vegetale.head())

          Zone Année  Population  sous_nutrition                Produit  \
0  Afghanistan  2017  36296113.0      10500000.0        Agrumes, Autres
1  Afghanistan  2017  36296113.0      10500000.0  Aliments pour enfants
2  Afghanistan  2017  36296113.0      10500000.0                 Ananas
3  Afghanistan  2017  36296113.0      10500000.0                Bananes
4  Afghanistan  2017  36296113.0      10500000.0                  Bière

    Origine  Aliments pour animaux  Autres Utilisations  \
0  vegetale                    0.0                  0.0
1  vegetale                    0.0                  0.0
2  vegetale                    0.0                  0.0
3  vegetale                    0.0                  0.0
4  vegetale                    0.0                  0.0

   Disponibilité alimentaire (Kcal/personne/jour)  \
0                                             1.0
1                                             1.0
2                                             0.0
3                                             4.0
4                                             0.0

   Disponibilité alimentaire en quantité (kg/personne/an)  ...  \
0                                               1.29       ...
1                                               0.06       ...
2                                               0.00       ...
3                                               2.70       ...
4                                               0.09       ...

   Disponibilité de protéines en quantité (g/personne/jour)  \
0                                               0.02
1                                               0.03
2                                               0.00
3                                               0.05
4                                               0.00

   Disponibilité intérieure  Exportations - Quantité  Importations - Quantité  \
0                   41000.0                   2000.0                  40000.0
1                    2000.0                      0.0                   2000.0
2                       0.0                      0.0                      0.0
3                   82000.0                      0.0                  82000.0
4                    3000.0                      0.0                   3000.0

   Nourriture  Pertes  Production  Semences  Traitement  Variation de stock
0     39000.0  2000.0      3000.0       0.0         0.0                 0.0
1      2000.0     0.0         0.0       0.0         0.0                 0.0
2         0.0     0.0         0.0       0.0         0.0                 0.0
3     82000.0     0.0         0.0       0.0         0.0                 0.0
4      3000.0     0.0         0.0       0.0         0.0                 0.0

[5 rows x 21 columns]

In [119]:
#Calcul du nombre de kcal disponible pour les végétaux
resultat_vegetale['dispo_kcal'] = resultat_vegetale['Disponibilité alimentaire (Kcal/personne/jour)'] * resultat_vegetale['Population']

dispo_mondiale_vegetale = resultat_vegetale['dispo_kcal'].sum()

print(f"La disponibilité mondiale en calories végétales est de {dispo_mondiale_vegetale} par jour")

La disponibilité mondiale en calories végétales est de 17260764211501.0 par jour

In [120]:
#Calcul du nombre d'humains pouvant être nourris avec les végétaux
besoin_cal_annuel_par_personne = nombre_kcal
nombre_humains_nourris_vegetale = dispo_mondiale_vegetale / besoin_cal_annuel_par_personne
population_mondiale = 8200000000
pourcentage_humains_nourris_vegetale = nombre_humains_nourris_vegetale / population_mondiale * 100

print(f"Le nombre d'humains pouvant être nourris avec la disponibilité mondiale végétale en calories est de {nombre_humains_nourris_vegetale} par jour")
print(f"La disponibilité végétale mondiale peut couvrir {pourcentage_humains_nourris_vegetale}% des besoins humains dans le monde")

Le nombre d'humains pouvant être nourris avec la disponibilité mondiale végétale en calories est de 7845801914.318636 par jour
La disponibilité végétale mondiale peut couvrir 95.68051115022726% des besoins humains dans le monde

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.4 - Utilisation de la disponibilité intérieure</h3>
</div>

In [121]:
#Calcul de la disponibilité totale
disponibilité_totale = dispo_alimentaire['Disponibilité intérieure'].sum()
nourriture_totale = dispo_alimentaire['Nourriture'].sum()
pertes_totale = dispo_alimentaire['Pertes'].sum()
animaux_totale = dispo_alimentaire['Aliments pour animaux'].sum()
semences_totale = dispo_alimentaire['Semences'].sum()
traitement_totale = dispo_alimentaire['Traitement'].sum()
autres_totale = dispo_alimentaire['Autres Utilisations'].sum()

part_pertes = pertes_totale/disponibilité_totale * 100
part_nourriture = nourriture_totale/disponibilité_totale * 100
part_animaux = animaux_totale/disponibilité_totale * 100
part_semences = semences_totale/disponibilité_totale * 100
part_traitement = traitement_totale/disponibilité_totale * 100
part_autres = autres_totale/disponibilité_totale * 100

print(f"La disponibilité intérieure totale est de {disponibilité_totale} kg pour 2017")

print(f"La part d'alimentation humaine totale est de {part_animaux} % pour 2017")
print(f"La part d'alimentation animale totale est de {part_nourriture} % pour 2017")
print(f"La part de perte totale est de {part_pertes} % pour 2017")
print(f"La part de semences totale est de {part_semences} % pour 2017")
print(f"La part de traitement totale est de {part_traitement} % pour 2017")
print(f"La part des autres utilisations totale est de {part_autres} % pour 2017")

La disponibilité intérieure totale est de 9848994000.0 kg pour 2017
La part d'alimentation humaine totale est de 13.242418464261426 % pour 2017
La part d'alimentation animale totale est de 49.51021393657058 % pour 2017
La part de perte totale est de 4.606541541196999 % pour 2017
La part de semences totale est de 1.5705258831511117 % pour 2017
La part de traitement totale est de 22.384895350733284 % pour 2017
La part des autres utilisations totale est de 8.782856401374598 % pour 2017

In [131]:
#création d'une boucle for pour afficher les différentes valeurs en fonction descolonnes aliments pour animaux,pertes,nourritures,
 #Liste des colonnes àparcourir
colonnes_a_afficher= ['Aliments pour animaux', 'Pertes', 'Nourriture','Traitement','Autres Utilisations', 'Semences']
 #Bouclepourparcourir chaquecolonneetafficherlesvaleurs
for colonne in colonnes_a_afficher:
    sum_col = (dispo_alimentaire[colonne].sum()/1000000)
    print(f"La disponibilité de '{colonne}' est : {sum_col} Tonnes")

La disponibilité de 'Aliments pour animaux' est : 1304.245 Tonnes
La disponibilité de 'Pertes' est : 453.698 Tonnes
La disponibilité de 'Nourriture' est : 4876.258 Tonnes
La disponibilité de 'Traitement' est : 2204.687 Tonnes
La disponibilité de 'Autres Utilisations' est : 865.023 Tonnes
La disponibilité de 'Semences' est : 154.681 Tonnes

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.5 - Utilisation des céréales</h3>
</div>

In [132]:
#Création d'une liste avec toutes les variables
valeurs_uniques = dispo_alimentaire['Produit'].unique()
print(valeurs_uniques)

#Création d'une liste avec toutes les variables de céréales

['Abats Comestible' 'Agrumes, Autres' 'Aliments pour enfants' 'Ananas'
 'Bananes' 'Beurre, Ghee' 'Bière' 'Blé' 'Boissons Alcooliques' 'Café'
 'Coco (Incl Coprah)' 'Crème' 'Céréales, Autres' 'Dattes'
 'Edulcorants Autres' 'Feve de Cacao' 'Fruits, Autres' 'Graines de coton'
 'Graines de tournesol' 'Graisses Animales Crue' 'Huil Plantes Oleif Autr'
 'Huile Graines de Coton' "Huile d'Arachide" "Huile d'Olive"
 'Huile de Colza&Moutarde' 'Huile de Palme' 'Huile de Soja'
 'Huile de Sésame' 'Huile de Tournesol' 'Lait - Excl Beurre'
 'Légumes, Autres' 'Légumineuses Autres' 'Maïs' 'Miel' 'Millet'
 'Miscellanees' 'Noix' 'Oeufs' 'Olives' 'Oranges, Mandarines' 'Orge'
 'Plantes Oleiferes, Autre' 'Poissons Eau Douce' 'Poivre' 'Pommes'
 'Pommes de Terre' 'Raisin' 'Riz (Eq Blanchi)' 'Sucre Eq Brut'
 'Sucre, betterave' 'Sucre, canne' 'Sésame' 'Thé' 'Tomates'
 "Viande d'Ovins/Caprins" 'Viande de Bovins' 'Viande de Volailles'
 'Viande, Autre' 'Vin' 'Épices, Autres' 'Alcool, non Comestible'
 'Animaux Aquatiques Autre' 'Arachides Decortiquees' 'Avoine'
 'Bananes plantains' 'Boissons Fermentés' 'Cephalopodes' 'Citrons & Limes'
 'Crustacés' 'Girofles' 'Graines Colza/Moutarde' 'Haricots'
 'Huile de Coco' 'Huile de Germe de Maïs' 'Huile de Palmistes'
 'Huiles de Foie de Poisso' 'Huiles de Poissons' 'Ignames' 'Manioc'
 'Mollusques, Autres' 'Oignons' 'Palmistes' 'Pamplemousse'
 'Patates douces' 'Perciform' 'Piments' 'Plantes Aquatiques' 'Pois'
 'Poissons Marins, Autres' 'Poissons Pelagiques' 'Racines nda' 'Seigle'
 'Soja' 'Sorgho' 'Viande de Suides' 'Huile de Son de Riz'
 'Sucre non centrifugé' 'Viande de Anim Aquatiq']

In [156]:
#Création d'un dataframe avec les informations uniquement pour ces céréales
cereales = [
    'Blé',
    'Céréales, Autres',
    'Maïs',
    'Millet',
    'Orge',
    'Riz (Eq Blanchi)',
    'Avoine',
    'Seigle',
    'Sorgho'
]
dispo_cereales = dispo_alimentaire[dispo_alimentaire['Produit'].isin(cereales)]
dispo_cereales

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
7,Afghanistan,Blé,vegetale,0.0,0.0,1369.0,160.23,4.69,36.91,5992000.0,0.0,1173000.0,4895000.0,775000.0,5169000.0,322000.0,0.0,-350000.0
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,Afghanistan,Maïs,vegetale,200000.0,0.0,21.0,2.50,0.30,0.56,313000.0,0.0,1000.0,76000.0,31000.0,312000.0,5000.0,0.0,0.0
34,Afghanistan,Millet,vegetale,0.0,0.0,3.0,0.40,0.02,0.08,13000.0,0.0,0.0,12000.0,1000.0,13000.0,0.0,0.0,0.0
40,Afghanistan,Orge,vegetale,360000.0,0.0,26.0,2.92,0.24,0.79,524000.0,0.0,10000.0,89000.0,52000.0,514000.0,22000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15545,Îles Salomon,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15568,Îles Salomon,Maïs,vegetale,0.0,0.0,1.0,0.15,0.01,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15575,Îles Salomon,Orge,vegetale,0.0,0.0,0.0,0.07,0.00,0.01,1000.0,0.0,1000.0,0.0,0.0,0.0,0.0,1000.0,0.0
15591,Îles Salomon,Riz (Eq Blanchi),vegetale,0.0,12000.0,623.0,63.76,1.36,10.90,49000.0,0.0,47000.0,36000.0,1000.0,3000.0,0.0,0.0,0.0
15593,Îles Salomon,Sorgho,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [134]:
#Affichage de la proportion d'alimentation animale
proportion_alimentation_animale = dispo_cereales['Aliments pour animaux'] / (dispo_cereales['Disponibilité intérieure']) * 100

dispo_cereales.insert(5, 'Proportion Alimentation animale en %', proportion_alimentation_animale)

In [135]:
somme_utilisation_animale = dispo_cereales['Aliments pour animaux'].sum()
somme_utilisation_humaine = dispo_cereales['Nourriture'].sum()
somme_dispo_interieure = dispo_cereales['Disponibilité intérieure'].sum()
Proportion_alimentation_animale = somme_utilisation_animale / ( somme_dispo_interieure ) * 100
Proportion_alimentation_humaine = somme_utilisation_humaine / ( somme_dispo_interieure ) * 100
print(f"La proportion d'utilisation animale des céréales est de {Proportion_alimentation_animale} %")
print(f"La proportion d'utilisation pour l'alimentation humaine des céréales est de {Proportion_alimentation_humaine} %")

La proportion d'utilisation animale des céréales est de 36.291456706047654 %
La proportion d'utilisation pour l'alimentation humaine des céréales est de 42.75074480712289 %

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.6 - Pays avec la proportion de personnes sous-alimentée la plus forte en 2017</h3>
</div>

In [157]:
#Création de la colonne proportion par pays
proportion_sous_nutrition_pays= population_2017['sous_nutrition'] / (population_2017['sous_nutrition'] + population_2017['Population']) * 100

population_2017.insert(4, 'Proportion de personnes en sous nutrition en %', proportion_sous_nutrition_pays)

ValueError: cannot insert Proportion de personnes en sous nutrition en %, already exists

In [158]:
#affichage après trie des 10 pires pays
population_2017_trie = population_2017.sort_values(by='Proportion de personnes en sous nutrition en %', ascending=False)
print("\nDataFrame trié par le plus fort taux de sous nutrition (décroissant) :")
print(population_2017_trie.head(10))

DataFrame trié par le plus fort taux de sous nutrition (décroissant) :
                                           Zone Année  Population  \
78                                        Haïti  2017  10982366.0
157  République populaire démocratique de Corée  2017  25429825.0
108                                  Madagascar  2017  25570512.0
103                                     Libéria  2017   4702226.0
100                                     Lesotho  2017   2091534.0
183                                       Tchad  2017  15016753.0
161                                      Rwanda  2017  11980961.0
121                                  Mozambique  2017  28649018.0
186                                 Timor-Leste  2017   1243258.0
0                                   Afghanistan  2017  36296113.0

     sous_nutrition  Proportion de personnes en sous nutrition en %
78        5300000.0                                       32.550552
157      12000000.0                                       32.059995
108      10500000.0                                       29.109651
103       1800000.0                                       27.682827
100        800000.0                                       27.666975
183       5700000.0                                       27.513964
161       4200000.0                                       25.956431
121       9400000.0                                       24.704974
186        400000.0                                       24.341887
0        10500000.0                                       22.437761

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.7 - Pays qui ont le plus bénéficié d'aide alimentaire depuis 2013</h3>
</div>

In [159]:
#calcul du total de l'aide alimentaire par pays
aide_alimentaire_regroupe = aide_alimentaire.groupby('Zone')['Valeur en kg'].sum().reset_index()
aide_alimentaire_regroupe

           Zone  Valeur en kg
0   Afghanistan     185452000
1       Algérie      81114000
2        Angola       5014000
3    Bangladesh     348188000
4       Bhoutan       2666000
..          ...           ...
71       Zambie       3026000
72     Zimbabwe      62570000
73       Égypte       1122000
74     Équateur       1362000
75     Éthiopie    1381294000

[76 rows x 2 columns]

In [139]:
#affichage après trie des 10 pays qui ont bénéficié le plus de l'aide alimentaire
aide_alimentaire_trie = aide_alimentaire_regroupe.sort_values(by='Valeur en kg', ascending=False)
print("\n10 pays qui ont bénéficié le plus de l'aide alimentaire :")
print(aide_alimentaire_trie.head(10))

10 pays qui ont bénéficié le plus de l'aide alimentaire :
                                Zone  Valeur en kg
50         République arabe syrienne    1858943000
75                          Éthiopie    1381294000
70                             Yémen    1206484000
61                     Soudan du Sud     695248000
60                            Soudan     669784000
30                             Kenya     552836000
3                         Bangladesh     348188000
59                           Somalie     292678000
53  République démocratique du Congo     288502000
43                             Niger     276344000

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.8 - Evolution des 5 pays qui ont le plus bénéficiés de l'aide alimentaire entre 2013 et 2016</h3>
</div>

In [140]:
#Création d'un dataframe avec la zone, l'année et l'aide alimentaire puis groupby sur zone et année 
aide_alimentaire_filtered = aide_alimentaire[(aide_alimentaire['Année'] >= 2013) & (aide_alimentaire['Année'] <= 2016)]
aide_alimentaire_grouped = aide_alimentaire_filtered.groupby(['Zone', 'Année'])['Valeur en kg'].sum().reset_index()
print(aide_alimentaire_grouped.head())
aide_alimentaire_grouped.to_excel("aide_alimentaire_grouped.xlsx", index=False, sheet_name="Données")

          Zone  Année  Valeur en kg
0  Afghanistan   2013     128238000
1  Afghanistan   2014      57214000
2      Algérie   2013      35234000
3      Algérie   2014      18980000
4      Algérie   2015      17424000

In [141]:
#Création d'une liste contenant les 5 pays qui ont le plus bénéficiées de l'aide alimentaire
aide_alimentaire_trie = aide_alimentaire_grouped.sort_values(by='Valeur en kg', ascending=False)
zones_liste = aide_alimentaire_trie['Zone'].unique()[:5].tolist()

# Afficher la liste
print(zones_liste)

['République arabe syrienne', 'Éthiopie', 'Yémen', 'Soudan du Sud', 'Soudan']

In [142]:
#On filtre sur le dataframe avec notre liste
aide_alimentaire_grouped_filtre = aide_alimentaire_grouped[aide_alimentaire_grouped['Zone'].isin(zones_liste)]

In [143]:
# Affichage des pays avec l'aide alimentaire par année
print(aide_alimentaire_grouped_filtre)
aide_alimentaire_grouped_filtre.to_excel("aide_alimentaire_grouped_filtre.xlsx", index=False, sheet_name="Données")

                          Zone  Année  Valeur en kg
157  République arabe syrienne   2013     563566000
158  République arabe syrienne   2014     651870000
159  République arabe syrienne   2015     524949000
160  République arabe syrienne   2016     118558000
189                     Soudan   2013     330230000
190                     Soudan   2014     321904000
191                     Soudan   2015      17650000
192              Soudan du Sud   2013     196330000
193              Soudan du Sud   2014     450610000
194              Soudan du Sud   2015      48308000
214                      Yémen   2013     264764000
215                      Yémen   2014     103840000
216                      Yémen   2015     372306000
217                      Yémen   2016     465574000
225                   Éthiopie   2013     591404000
226                   Éthiopie   2014     586624000
227                   Éthiopie   2015     203266000

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.9 - Pays avec le moins de disponibilité par habitant</h3>
</div>

In [144]:
#Calcul de la disponibilité en kcal par personne par jour par pays
dispo_kcal_grouped = dispo_alimentaire.groupby(['Zone'])['Disponibilité alimentaire (Kcal/personne/jour)'].sum().reset_index()

In [145]:
#Affichage des 10 pays qui ont le moins de dispo alimentaire par personne 
dispo_kcal_trie_croissant = dispo_kcal_grouped.sort_values(by='Disponibilité alimentaire (Kcal/personne/jour)', ascending=True)
print(dispo_kcal_trie_croissant.head(10))

                                           Zone  \
128                   République centrafricaine
166                                      Zambie
91                                   Madagascar
0                                   Afghanistan
65                                        Haïti
133  République populaire démocratique de Corée
151                                       Tchad
167                                    Zimbabwe
114                                     Ouganda
154                                 Timor-Leste

     Disponibilité alimentaire (Kcal/personne/jour)
128                                          1879.0
166                                          1924.0
91                                           2056.0
0                                            2087.0
65                                           2089.0
133                                          2093.0
151                                          2109.0
167                                          2113.0
114                                          2126.0
154                                          2129.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.10 - Pays avec le plus de disponibilité par habitant</h3>
</div>

In [146]:
#Affichage des 10 pays qui ont le plus de dispo alimentaire par personne 
dispo_kcal_trie_decroissant = dispo_kcal_grouped.sort_values(by='Disponibilité alimentaire (Kcal/personne/jour)', ascending=False)
print(dispo_kcal_trie_decroissant.head(10))
dispo_kcal_trie_decroissant.to_csv("top_dispo.csv", index=False)

                      Zone  Disponibilité alimentaire (Kcal/personne/jour)
11                Autriche                                          3770.0
16                Belgique                                          3737.0
159                Turquie                                          3708.0
171  États-Unis d'Amérique                                          3682.0
74                  Israël                                          3610.0
72                 Irlande                                          3602.0
75                  Italie                                          3578.0
89              Luxembourg                                          3540.0
168                 Égypte                                          3518.0
4                Allemagne                                          3503.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.11 - Exemple de la Thaïlande pour le Manioc</h3>
</div>

In [160]:
#création d'un dataframe avec uniquement la Thaïlande 
df_thailande = dispo_alimentaire[(dispo_alimentaire['Zone'] == 'Thaïlande')]
df_thailande_manioc = dispo_alimentaire[(dispo_alimentaire['Zone'] == 'Thaïlande') & (dispo_alimentaire['Produit'] == 'Manioc')]
df_thailande

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
13759,Thaïlande,Abats Comestible,animale,0.0,0.0,3.0,1.11,0.09,0.56,74000.0,5000.0,33000.0,75000.0,0.0,45000.0,0.0,0.0,0.0
13760,Thaïlande,"Agrumes, Autres",vegetale,0.0,0.0,0.0,0.09,0.00,0.00,8000.0,6000.0,2000.0,6000.0,0.0,12000.0,0.0,2000.0,0.0
13761,Thaïlande,"Alcool, non Comestible",vegetale,0.0,358000.0,0.0,0.00,0.00,0.00,358000.0,110000.0,21000.0,0.0,0.0,447000.0,0.0,0.0,0.0
13762,Thaïlande,Aliments pour enfants,vegetale,0.0,0.0,2.0,0.18,0.01,0.08,12000.0,7000.0,19000.0,12000.0,0.0,0.0,0.0,0.0,0.0
13763,Thaïlande,Ananas,vegetale,0.0,0.0,10.0,10.02,0.04,0.08,782000.0,1449000.0,9000.0,671000.0,110000.0,2209000.0,0.0,0.0,13000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13849,Thaïlande,Viande de Suides,animale,0.0,0.0,124.0,13.00,11.83,3.92,871000.0,22000.0,1000.0,871000.0,0.0,891000.0,0.0,0.0,0.0
13850,Thaïlande,Viande de Volailles,animale,0.0,0.0,52.0,13.69,3.62,4.49,945000.0,536000.0,11000.0,917000.0,28000.0,1470000.0,0.0,0.0,0.0
13851,Thaïlande,"Viande, Autre",animale,0.0,0.0,0.0,0.03,0.01,0.02,-92000.0,96000.0,4000.0,2000.0,0.0,0.0,0.0,0.0,0.0
13852,Thaïlande,Vin,vegetale,0.0,0.0,0.0,0.12,0.00,0.00,8000.0,8000.0,16000.0,8000.0,0.0,0.0,0.0,0.0,0.0
13853,Thaïlande,"Épices, Autres",vegetale,0.0,0.0,16.0,1.70,0.30,0.43,114000.0,42000.0,13000.0,114000.0,0.0,143000.0,0.0,0.0,0.0

In [148]:
#Calcul de la sous nutrition en Thaïlande
sous_nutrition_thailande = sous_nutrition[(sous_nutrition['Zone'] == 'Thaïlande')]

somme_thailande = sous_nutrition_thailande['sous_nutrition'].sum()
print(f"La Thailande compte {somme_thailande} personnes en sous nutrition")

La Thailande compte 6200000.0 personnes en sous nutrition

In [149]:
# On calcule la proportion exportée en fonction de la proportion
production_totale_manioc = df_thailande_manioc['Production'].iloc[0]
production_exportee_thailande = df_thailande_manioc['Exportations - Quantité'].sum()
production_importee_thailande = df_thailande_manioc['Importations - Quantité'].sum()
proportion_exportee_thailande = production_exportee_thailande / production_totale_manioc * 100
print(f"La proportion de la production de manioc exportée de la Thailande s'élève à {proportion_exportee_thailande} %")

population_thailande = population_2017[population_2017['Zone'] == 'Thaïlande']
proportion_sous_nutrition_thailande = population_thailande['Proportion de personnes en sous nutrition en %'].values[0]
print(f"La proportion de personnes en sous nutrition en Thailande est de {proportion_sous_nutrition_thailande} % ")

dispo_par_habitant_thailande = df_thailande['Disponibilité alimentaire en quantité (kg/personne/an)'].sum()
print(f"La disponibilité intérieure en Thailande est de {dispo_par_habitant_thailande} kg par an et par habitant ")
print(f"La disponibilité intérieure en Thailande est de {dispo_par_habitant_thailande} kcal par personne et par jour ")

La proportion de la production de manioc exportée de la Thailande s'élève à 83.41272991928014 %
La proportion de personnes en sous nutrition en Thailande est de 8.22174197229777 %
La disponibilité intérieure en Thailande est de 586.2299999999999 kg par an et par habitant
La disponibilité intérieure en Thailande est de 586.2299999999999 kcal par personne et par jour

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 6 - Analyse complémentaires</h2>
</div>

In [150]:
#Rajouter en dessous toutes les analyses complémtaires suite à la demande de mélanie :
#"et toutes les infos que tu trouverais utiles pour mettre en relief les pays qui semblent être 
#le plus en difficulté au niveau alimentaire"

In [151]:
#Analyse des pays possédant le moins de sous_nutrition en proportion avec la population nationale 

population_2017_trie_croissant = population_2017.sort_values(by='Proportion de personnes en sous nutrition en %', ascending=True)
print("\nDataFrame trié par le plus faible taux de sous nutrition (croissant) :")
print(population_2017_trie_croissant.head(10))

DataFrame trié par le plus faible taux de sous nutrition (croissant) :
                              Zone Année  Population  sous_nutrition  \
101                       Lettonie  2017   1951097.0             0.0
113                          Malte  2017    437933.0             0.0
115                        Maurice  2017   1264499.0             0.0
118  Micronésie (États fédérés de)  2017    111459.0             0.0
120                     Monténégro  2017    627563.0             0.0
124                          Nauru  2017     10573.0             0.0
127                          Niger  2017  21602382.0             0.0
129                          Nioué  2017      1609.0             0.0
130                        Norvège  2017   5296326.0             0.0
131             Nouvelle-Calédonie  2017    277150.0             0.0

     Proportion de personnes en sous nutrition en %
101                                             0.0
113                                             0.0
115                                             0.0
118                                             0.0
120                                             0.0
124                                             0.0
127                                             0.0
129                                             0.0
130                                             0.0
131                                             0.0

In [152]:
#Analysons désormais les proportions exportées en fonction des disponibilités intérieures pour La Lettonie qui semble avoir de bons résultats
dispo_lettonie = dispo_alimentaire[dispo_alimentaire['Zone']=='Lettonie']
print(dispo_lettonie)

dispo_proteines_lettonie = dispo_lettonie['Disponibilité de protéines en quantité (g/personne/jour)'].sum()
dispo_matieres_grasses_lettonie= dispo_lettonie['Disponibilité de matière grasse en quantité (g/personne/jour)'].sum()
dispo_alimentaire_lettonie = dispo_lettonie['Disponibilité alimentaire (Kcal/personne/jour)'].sum()

print(f"Disponibilité en protéines en Lettonie : {dispo_proteines_lettonie} g/personne/jour")
print(f"Disponibilité en matières grasses en Lettonie : {dispo_matieres_grasses_lettonie} g/personne/jour")
print(f"Disponibilité alimentaire en Lettonie : {dispo_alimentaire_lettonie} Kcal/personne/jour ")
# La Lettonie semble bien équilibrer ses besoins alimentaires en combinant la production locale et les importations, notamment pour les produits animaux, qui fournissent des apports caloriques et nutritionnels importants. Cependant, pour de nombreux produits végétaux, elle dépend fortement des importations, ce qui pourrait la rendre vulnérable aux fluctuations internationales des prix ou à des interruptions de la chaîne d'approvisionnement.

          Zone                 Produit   Origine  Aliments pour animaux  \
7703  Lettonie        Abats Comestible   animale                    0.0
7704  Lettonie         Agrumes, Autres  vegetale                    0.0
7705  Lettonie  Alcool, non Comestible  vegetale                    0.0
7706  Lettonie   Aliments pour enfants  vegetale                    0.0
7707  Lettonie                  Ananas  vegetale                    0.0
...        ...                     ...       ...                    ...
7791  Lettonie        Viande de Suides   animale                    0.0
7792  Lettonie     Viande de Volailles   animale                    0.0
7793  Lettonie           Viande, Autre   animale                    0.0
7794  Lettonie                     Vin  vegetale                    0.0
7795  Lettonie          Épices, Autres  vegetale                    0.0

      Autres Utilisations  Disponibilité alimentaire (Kcal/personne/jour)  \
7703                  0.0                                            21.0
7704                  0.0                                             0.0
7705              10000.0                                             0.0
7706                  0.0                                             3.0
7707                  0.0                                             2.0
...                   ...                                             ...
7791                  0.0                                           170.0
7792                  0.0                                            71.0
7793                  0.0                                             1.0
7794                  0.0                                             7.0
7795                  0.0                                             3.0

      Disponibilité alimentaire en quantité (kg/personne/an)  \
7703                                               6.21
7704                                               0.45
7705                                               0.00
7706                                               0.34
7707                                               1.62
...                                                 ...
7791                                              34.96
7792                                              20.53
7793                                               0.16
7794                                               3.25
7795                                               0.34

      Disponibilité de matière grasse en quantité (g/personne/jour)  \
7703                                               0.57
7704                                               0.00
7705                                               0.00
7706                                               0.03
7707                                               0.01
...                                                 ...
7791                                              14.41
7792                                               4.40
7793                                               0.03
7794                                               0.00
7795                                               0.13

      Disponibilité de protéines en quantité (g/personne/jour)  \
7703                                               3.24
7704                                               0.00
7705                                               0.00
7706                                               0.14
7707                                               0.01
...                                                 ...
7791                                               9.19
7792                                               7.21
7793                                               0.08
7794                                               0.00
7795                                               0.10

      Disponibilité intérieure  Exportations - Quantité  \
7703                   13000.0                   3000.0
7704                    1000.0                   1000.0
7705                   10000.0                   6000.0
7706                    1000.0                   1000.0
7707                    3000.0                   1000.0
...                        ...                      ...
7791                   72000.0                  18000.0
7792                   42000.0                  13000.0
7793                       0.0                   1000.0
7794                    7000.0                  46000.0
7795                    1000.0                   1000.0

      Importations - Quantité  Nourriture  Pertes  Production  Semences  \
7703                   9000.0     13000.0     0.0      7000.0       0.0
7704                   1000.0      1000.0     0.0         0.0       0.0
7705                  16000.0         0.0     0.0         0.0       0.0
7706                   1000.0      1000.0     0.0         0.0       0.0
7707                   4000.0      3000.0     0.0         0.0       0.0
...                       ...         ...     ...         ...       ...
7791                  55000.0     72000.0  1000.0     36000.0       0.0
7792                  29000.0     42000.0     0.0     27000.0       0.0
7793                      0.0         0.0     0.0         0.0       0.0
7794                  51000.0      7000.0     0.0      2000.0       0.0
7795                   1000.0      1000.0     0.0         0.0       0.0

      Traitement  Variation de stock
7703         0.0                 0.0
7704         0.0                 0.0
7705         0.0                 0.0
7706         0.0                 0.0
7707         0.0                 0.0
...          ...                 ...
7791         0.0                 0.0
7792         0.0                 0.0
7793         0.0                 0.0
7794         0.0                 0.0
7795         0.0                 0.0

[93 rows x 18 columns]
Disponibilité en protéines en Lettonie : 91.33999999999999 g/personne/jour
Disponibilité en matières grasses en Lettonie : 119.43 g/personne/jour
Disponibilité alimentaire en Lettonie : 3172.0 Kcal/personne/jour

In [162]:
#Analysons désormais les proportions exportées en fonction des disponibilités intérieures pour Haïti qui semble être le pays le plus en difficulté en termes de sous nutrition
dispo_madagascar = dispo_alimentaire[dispo_alimentaire['Zone']=='Madagascar']
print(dispo_madagascar)

dispo_proteines_madagascar = dispo_madagascar['Disponibilité de protéines en quantité (g/personne/jour)'].sum()
dispo_matieres_grasses_madagascar = dispo_madagascar['Disponibilité de matière grasse en quantité (g/personne/jour)'].sum()
dispo_alimentaire_madagascar = dispo_madagascar['Disponibilité alimentaire (Kcal/personne/jour)'].sum()

print(f"Disponibilité en protéines à Madagascar : {dispo_proteines_madagascar} g/personne/jour")
print(f"Disponibilité en matières grasses à Madagascar : {dispo_matieres_grasses_madagascar} g/personne/jour")
print(f"Disponibilité alimentaire à Madagascar : {dispo_alimentaire_madagascar} Kcal/personne/jour ")
# Madagascar présente un modèle de gestion alimentaire largement axé sur la production locale, avec une dépendance minimale aux importations. Cela confère au pays une certaine résilience, en particulier dans le domaine des produits carnés et de certains fruits comme l'ananas. Néanmoins, les faibles apports nutritionnels en calories et protéines pour certains produits montrent des limitations en matière de diversité et de densité nutritionnelle, ce qui peut affecter la sécurité alimentaire sur le plan qualitatif.
# Pour renforcer la sécurité alimentaire et la nutrition, Madagascar pourrait envisager d’augmenter sa production de produits plus riches en calories et protéines, et de diversifier son offre alimentaire pour combler les carences nutritionnelles de la population.

            Zone                 Produit   Origine  Aliments pour animaux  \
8236  Madagascar        Abats Comestible   animale                    0.0
8237  Madagascar         Agrumes, Autres  vegetale                    0.0
8238  Madagascar  Alcool, non Comestible  vegetale                    0.0
8239  Madagascar   Aliments pour enfants  vegetale                    0.0
8240  Madagascar                  Ananas  vegetale                    0.0
...          ...                     ...       ...                    ...
8323  Madagascar        Viande de Suides   animale                    0.0
8324  Madagascar     Viande de Volailles   animale                    0.0
8325  Madagascar           Viande, Autre   animale                    0.0
8326  Madagascar                     Vin  vegetale                    0.0
8327  Madagascar          Épices, Autres  vegetale                    0.0

      Autres Utilisations  Disponibilité alimentaire (Kcal/personne/jour)  \
8236                  0.0                                             6.0
8237                  0.0                                             0.0
8238               8000.0                                             0.0
8239                  0.0                                             0.0
8240                  0.0                                             3.0
...                   ...                                             ...
8323                  0.0                                            22.0
8324                  0.0                                            16.0
8325                  0.0                                             1.0
8326                  0.0                                             1.0
8327               1000.0                                             0.0

      Disponibilité alimentaire en quantité (kg/personne/an)  \
8236                                               1.90
8237                                               0.01
8238                                               0.00
8239                                               0.00
8240                                               3.15
...                                                 ...
8323                                               2.56
8324                                               3.14
8325                                               0.35
8326                                               0.39
8327                                               0.05

      Disponibilité de matière grasse en quantité (g/personne/jour)  \
8236                                               0.15
8237                                               0.00
8238                                               0.00
8239                                               0.00
8240                                               0.01
...                                                 ...
8323                                               2.04
8324                                               1.23
8325                                               0.03
8326                                               0.00
8327                                               0.01

      Disponibilité de protéines en quantité (g/personne/jour)  \
8236                                               0.94
8237                                               0.00
8238                                               0.00
8239                                               0.00
8240                                               0.03
...                                                 ...
8323                                               0.81
8324                                               1.06
8325                                               0.17
8326                                               0.00
8327                                               0.01

      Disponibilité intérieure  Exportations - Quantité  \
8236                   44000.0                      0.0
8237                       0.0                      0.0
8238                    8000.0                   1000.0
8239                       0.0                      0.0
8240                   80000.0                      0.0
...                        ...                      ...
8323                   59000.0                      0.0
8324                   72000.0                      0.0
8325                    8000.0                      0.0
8326                    9000.0                      0.0
8327                    2000.0                   3000.0

      Importations - Quantité  Nourriture  Pertes  Production  Semences  \
8236                      0.0     44000.0     0.0     43000.0       0.0
8237                      0.0         0.0     0.0         0.0       0.0
8238                   9000.0         0.0     0.0         0.0       0.0
8239                      0.0         0.0     0.0         0.0       0.0
8240                      0.0     72000.0  8000.0     80000.0       0.0
...                       ...         ...     ...         ...       ...
8323                      0.0     59000.0     0.0     58000.0       0.0
8324                      0.0     72000.0     0.0     72000.0       0.0
8325                      0.0      8000.0     0.0      8000.0       0.0
8326                   1000.0      9000.0     0.0      8000.0       0.0
8327                      0.0      1000.0     0.0      6000.0       0.0

      Traitement  Variation de stock
8236         0.0                 0.0
8237         0.0                 0.0
8238         0.0                 0.0
8239         0.0                 0.0
8240         0.0                 0.0
...          ...                 ...
8323         0.0                 0.0
8324         0.0                 0.0
8325         0.0                 0.0
8326         0.0                 0.0
8327         0.0                 0.0

[92 rows x 18 columns]
Disponibilité en protéines à Madagascar : 46.69 g/personne/jour
Disponibilité en matières grasses à Madagascar : 24.490000000000002 g/personne/jour
Disponibilité alimentaire à Madagascar : 2056.0 Kcal/personne/jour